<% if flash.has?(:message) %>
  <%= flash[:message] %>
 <% end %>

 <h1> Info about this song
  </h1>
  <p><a href =/songs/<%= @song.slug %>/edit >Edit</p></a>

<h2>Song Title: <%= @song.name %>
  </h2>

<p>Artist: <a href =/artists/<%= @song.artist.slug %> >
  <%= @song.artist.name %></a>
  </p>

<p>Genres:
    <ol><% @song.genres.each do |genre| %>
      <a href =/genres/<%= genre.slug %>>
         <li><%= genre.name %>
            </li>
          </a>
        <% end %>
    </ol>
  </p>
